.sessionDesc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.tab:hover {
  cursor: "pointer";
  background-color: "#eee";
  transform: scale(1.04);
}

.tab:active {
  transform: scale(1);
}
