@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", Courier, monospace;
}
.sessionDesc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.radio:hover {
  cursor: "pointer";
  background-color: "#eee";
  transform: scale(1.04);
}

.radio:active {
  transform: scale(1);
}
/* leaderboard css */

.center-text {
  justify-content: center;
  display: flex;
  font-size: 1.2rem;
}

.header {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
/* leaderboard css */

/* Level Style */
.level {
  /* width: 150px;
  height: 150px;
  background: rgb(229, 86, 86);
  border-radius: 30px;
  stroke-width: 10px; */

  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}

.progress {
  position: sticky;
  top: 0;
  width: 20rem;
  height: 0rem;
}

svg {
  cursor: pointer;
}
