.sessionDesc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.radio:hover {
  cursor: "pointer";
  background-color: "#eee";
  transform: scale(1.04);
}

.radio:active {
  transform: scale(1);
}
/* leaderboard css */

.center-text{
  justify-content: center;
  display: flex;
  font-size:  1.2rem;
}

.header{
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
/* leaderboard css */
